.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 16px);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 12px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-subtitle {
  font-size: 16px;
  color: #7f8c8d;
  margin: 0;
}

.card-text, .pre {
  font-size: 14px;
  margin: 0;
  color: #2c3e50;
  height: 20rem;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 16px); /* Two notes per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* One note per row on extra small screens */
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

/* Modal Styles */
.modal {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  height:60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #2980b9;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}

.dots-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.options-menu {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.options-menu button {
  background-color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-menu button:hover {
  background-color: #f2f2f2;
}
