/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Üldised stiilid */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  