.book-detail-card {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .book-info {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  mat-chip {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  button {
    margin-top: 1rem;
  }
  